.book-now-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.form-section {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 2rem 1rem;
}

.form-container {
  width: 100%;
  max-width: 800px;
}

.form-container iframe {
  width: 100%;
  border: none;
  overflow: hidden;
}

iframe {
  overflow: visible !important;
  min-height: 2000px !important; /* Ensure minimum height matches the state value */
}

